body {background-color:lightcyan
}
.head {
    background-color: midnightblue;
    color: white
}
.high {
    text-align: center;
    
    font-size:25px
        
}
.highs{
    background-color:chartreuse;
}